.button {
  @include link-stylize;

  display: inline-block;
  padding: 16px;
  font-size: 17px;
  font-weight: $font-weight-bold;
  line-height: 0.94;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid $grey;

  &:hover,
  &:focus {
    color: $white;
    background-color: $grey;
  }

  &:active {
    color: transparentize($white, 0.7);
  }

  &--seafoam-blue {
    color: $white;
    background-color: $seafoam-blue;
    border-color: $seafoam-blue;

    &:hover,
    &:focus {
      background-color: transparentize($seafoam-blue, 0.4);
      border-color: transparentize($seafoam-blue, 0.7);
    }
  }
}
