.button {
  @include link-stylize;

  padding: 12px;
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 0.94;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid $grey;

  &:hover,
  &:focus {
    color: $white;
    background-color: $grey;
  }

  &:active {
    color: transparentize($white, 0.7);
  }
}
