.card {
  line-height: 0;
}

.card__image-wrapper {
  display: flex;
  background-color: $white-two;
}

.card__content {
  padding: 27px;
  border: 1px solid $white-three;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 transparentize($black, 0.9);
  }

  &:active {
    box-shadow: 0 3px 5px 0 transparentize($black, 0.9);
  }
}

.card__title {
  margin: 0;
  font-size: 17px;
  font-weight: $font-weight-bold;
  line-height: 1.41;
  color: $title-color;
}

.card__title-link {
  @include link-stylize;

  &:hover,
  &:focus {
    color: transparentize($title-color, 0.4);
  }

  &:active {
    color: transparentize($title-color, 0.7);
  }
}

.card__description {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 2.31;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  box-shadow: 0 -1px 0 0 $white-three;
}

.card__button {
  padding: 0;
  font-size: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline-offset: 5px;

  &:hover .card__button-icon,
  &:focus .card__button-icon {
    color: $seafoam-blue;
    opacity: 1;
  }

  &:active .card__button-icon {
    opacity: 0.3;
  }
}

.card__button-icon {
  color: $black;
  opacity: 0.2;
}

.card__price {
  font-size: 15px;
  font-weight: $font-weight-bold;
  line-height: 1.6;
  color: $black;
}

@media (min-width: $tablet-width) {
  .card {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 334px;
  }

  .card__image-wrapper,
  .card__content {
    width: 50%;
  }

  .card__content {
    display: flex;
    flex-direction: column;
  }

  .card__title {
    font-size: 20px;
    line-height: 1.2;
  }

  .card__description {
    font-size: 15px;
    line-height: 2;
  }

  .card__footer {
    margin-top: auto;
  }

  .card__price {
    font-size: 17px;
    line-height: 1.41;
  }

  .card__button {
    width: 28px;
  }
}

@media (min-width: $desktop-width) {
  .card {
    flex-flow: column nowrap;
  }

  .card__image-wrapper,
  .card__content {
    width: 100%;
  }

  .card__image-wrapper {
    height: 462px;
  }

  .card__content {
    flex-grow: 1;
    min-height: 197px;
  }

  .card__description {
    margin: 0;
  }
}
