.category-links__item {
  @include link-stylize($white);

  padding: 30px 29px;
  font-size: 1.9rem;
  font-weight: $font-weight-bold;
  line-height: 1.26;
  background-color: $seafoam-blue;

  &:hover,
  &:focus {
    background-color: #59d5bc;
  }

  &:active {
    color: transparentize($white, 0.7);
    background-color: #59d5bc;
  }

  &--toys {
    background-color: $greany-blue;

    &:hover,
    &:focus,
    &:active {
      background-color: $emerald-blue;
    }
  }
}
