.category-links {
  display: flex;
  flex-flow: column wrap;
}

.category-links__item {
  @include link-stylize($white);

  min-height: 103px;
  padding: 28px 30px;
  font-size: 1.9rem;
  font-weight: $font-weight-bold;
  line-height: 1.26;
  background-color: $seafoam-blue;

  &:hover,
  &:focus {
    background-color: #59d5bc;
  }

  &:active {
    color: transparentize($white, 0.7);
    background-color: #59d5bc;
  }

  &--toys {
    background-color: $greany-blue;

    &:hover,
    &:focus,
    &:active {
      background-color: $emerald-blue;
    }
  }
}

@media (min-width: $tablet-width) {
  .category-links {
    flex-direction: row;
  }

  .category-links__item {
    width: 50%;
  }
}

@media (min-width: $desktop-width) {
  .category-links__item {
    font-size: 2rem;
    line-height: 1.2;
  }
}
