.category-links {
  display: flex;
  flex-flow: column wrap;
}

.category-links__item {
  @include link-stylize($white);

  position: relative;
  padding: 30px 50% 30px 29px;
  font-size: 19px;
  font-weight: $font-weight-bold;
  line-height: 1.2;
  background-color: $seafoam-blue;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 27px;
    width: 60px;
    height: 62px;
    opacity: 0.5;
    background: no-repeat center;
    transform: translateY(-50%);
  }

  &:hover,
  &:focus {
    padding-bottom: 35px;
    background-color: #59d5bc;

    &::after {
      opacity: 0.7;
    }
  }

  &:active {
    color: transparentize($white, 0.7);
    background-color: #59d5bc;

    &::after {
      opacity: 0.3;
    }
  }

  &--furniture {
    &::after {
      background-image: url("../img/icon-interior.svg");
    }
  }

  &--toys {
    background-color: $greany-blue;

    &::after {
      background-image: url("../img/icon-toy.svg");
    }

    &:hover,
    &:focus,
    &:active {
      background-color: $emerald-blue;
    }
  }
}

@media (min-width: $tablet-width) {
  .category-links {
    @include container;

    align-items: flex-end;
    flex-direction: row;
    margin-top: auto;
  }

  .category-links__item {
    width: 50%;
    padding-left: 35px;
    padding-right: 30%;
    font-size: 20px;
    line-height: 1.5;

    &::after {
      top: 32px;
      transform: none;
    }

    &--toys {
      &::after {
        right: 35px;
      }
    }
  }
}
