.contacts {
  @include container;

  padding-top: 38px;
}

.contacts__info {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  font-size: 15px;
  line-height: 2;
}

.contacts__info-row {
  display: flex;
  width: 100%;

  & + & {
    margin-top: 30px;
  }
}

.contacts__info-title,
.contacts__info-content {
  margin: 0;
}

.contacts__info-title {
  margin-right: 32px;
}

.contacts__map-container {
  height: 457px;
  margin-top: 37px;
  line-height: 0;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 457px;
    background: #dfdfdf url("../img/map-tablet@1x.jpg") no-repeat center;
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }
}

.contacts__map {
  position: absolute;
  content: "";
  left: 0;
  z-index: 100;
}

.contacts__button {
  width: 100%;
  margin: 39px auto;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-top: 62px;
  }

  .contacts__info {
    padding: 24px 0;
    font-size: 17px;
    line-height: 1.76;
  }

  .contacts__info-row {
    width: 50%;

    & + & {
      margin-top: 0;
    }
  }

  .contacts__info-title {
    margin-right: 25px;
  }

  .contacts__footer {
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__button {
    width: 230px;
    margin-top: 55px;
    margin-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding-top: 33px;
    padding-bottom: 50px;
  }

  .contacts__container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 874px;
    min-height: 457px;
    margin-left: auto;
    padding-top: 107px;
    padding-right: 50%;
  }

  .contacts__info {
    width: 305px;
  }

  .contacts__info-row {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 33px;
    }
  }

  .contacts__map-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 525px;
    height: 457px;

    &::before {
      background-image: url("../img/map-desktop@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/map-desktop@2x.jpg");
      }
    }
  }

  .contacts__footer {
    margin-top: auto;
  }
}
