.field-list {
  @include list-reset;
}

.field-list__item {
  & + & {
    padding-top: 22px;
  }
}

.field-list--radio .field-list__item + .field-list__item {
  padding-top: 20px;
}

.field-list--textfield {
  margin-top: 8px;
}

@media (min-width: $tablet-width) {
  .field-list {
    display: flex;
    flex-wrap: wrap;
    width: 502px;
    margin-left: auto;

    &--radio,
    &--textfield {
      flex-direction: column;
    }

    &--radio {
      margin-top: 8px;
    }

    &--textfield {
      margin-top: 0;
    }

    &--checkbox {
      justify-content: space-between;
    }
  }

  .field-list--checkbox .field-list__item {
    width: 240px;
    padding-top: 24px;

    &:first-child,
    &:nth-child(2) {
      padding-top: 0;
    }
  }

  .field-list__item--textfield {
    display: flex;
    align-items: baseline;
  }
}

@media (min-width: $desktop-width) {
  .field-list {
    @include content-position-inner;

    padding-right: 24px;

    &--checkbox {
      padding-right: 0;
    }
  }

  .field-list--radio .field-list__item + .field-list__item {
    padding-top: 23px;
  }

  .field-list--checkbox .field-list__item {
    &:nth-child(3) {
      padding-top: 0;
    }

    &:nth-child(2),
    &:nth-child(2n + 3) {
      padding-left: 20px;
      padding-bottom: 0;
    }

    &:nth-child(3n) {
      padding-left: 44px;
      margin-right: 0;
    }
  }
}
