.filters {
  padding-bottom: 54px;
}

.filters__intro {
  @include container;
}

.filters__text {
  margin: 23px 0;
}

@media (min-width: $tablet-width) {
  .filters {
    padding-top: 52px;
    padding-bottom: 44px;
  }

  .filters__text {
    margin-bottom: 0;
    font-size: 17px;
    line-height: 1.76;
  }
}

@media (min-width: $desktop-width) {
  .filters {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .filters__text {
    @include content-position-inner;
  }
}
