.form__group {
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
}

.form__group + .form__group,
.form__group-content + .form__group-content {
  margin-top: 16px;
}

.form__group-content {
  @include container;
}

.form__group-title {
  @include container;

  position: relative;
  display: flex;
  align-items: center;
  max-width: 100%;
  font-size: 17px;
  font-weight: $font-weight-bold;
  line-height: 0.94;
  color: $seafoam-blue;
  text-transform: uppercase;

  &--contacts {
    padding: 0;
  }

  &--hidden {
    @include visually-hidden;
  }

  &::before {
    position: absolute;
    content: "";
    left: $mobile-padding;
    right: $mobile-padding;
    height: 1px;
    background-color: $seafoam-blue;
  }
}

.form__group-content--contacts .form__group-title::before {
  right: 0;
}

.form__group-label {
  display: inline-block;
  position: relative;
  padding-right: 25px;
  background-color: $white;
}

.form__footer {
  @include container;
}

.form__footer-content {
  display: flex;
  flex-wrap: wrap;
}

.form__footnote {
  align-self: center;
  font-size: 14px;
  line-height: 1.14;
}

.form__submit {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .form__group {
    &--colored {
      background-color: $white-two;
    }
  }

  .form__group-content--contacts {
    position: relative;
  }

  .form__group-title {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);

    &::before {
      display: none;
    }

    &--contacts,
    &--textarea {
      top: 17px;
    }

    &--contacts {
      left: 50px;
    }
  }

  .form__group-content--contacts .form__group-title {
    width: 100px;
    left: 98px;
  }

  .form__group-label {
    background-color: transparent;
  }

  .form__footer-content {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .form__footnote {
    font-size: 17px;
    line-height: 1.76;
  }

  .form__submit {
    width: 230px;
  }
}

@media (min-width: $desktop-width) {
  .form__group-title {
    margin-left: 64px;
  }

  .form__footer-content {
    @include content-position-inner;

    padding-right: 24px;
  }

  .form__footnote {
    width: 50%;
    text-align: right;
  }

  .form__submit {
    align-self: center;
  }
}
