.intro {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 74px;
  background-color: $white-two;

  &--main {
    min-height: 489px;
    padding-top: 76px;
    padding-bottom: 0;
    background: $white-two url("../img/hero-mobile@1x.jpg") no-repeat center;
    background-size: cover;
  }
}

.intro__title {
  @include container;

  margin-bottom: auto;
  font-size: 27px;
  font-weight: $font-weight-bold;
  line-height: 1.11;
  text-align: center;
  color: $title-color;
}

@media (min-width: $tablet-width) {
  .intro {
    &--main {
      min-height: 746px;
      padding-top: 161px;
    }
  }

  .intro__title {
    font-size: 43px;
    line-height: 1.16;
  }
}

@media (min-width: $desktop-width) {
  .intro__title {
    font-size: 53px;
    line-height: 1.08;
  }
}
