.page-footer {
  background-color: $white-two;
}

.page-footer__container {
  @include container;

  display: flex;
  flex-flow: column wrap;
}

.page-footer__item {
  display: flex;
  flex: 1 0 80px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  &--logo {
    display: none;
  }

  &--copyright {
    border-top: 1px solid #e5e5e5;
  }
}

.page-footer__logo {
  line-height: 0;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding: 51px 0;
  }

  .page-footer__container {
    flex-direction: row;
  }

  .page-footer__item {
    flex: 1 1 0;
    min-width: 33%;

    &:nth-child(3n),
    &:last-child {
      justify-content: flex-end;
    }

    &:nth-child(3n + 1) {
      justify-content: flex-start;
    }

    &--logo {
      display: flex;
    }

    &--copyright {
      border-top: none;
    }
  }
}
