.player {
  position: relative;
  line-height: 0;
  background-color: #cccccc;
}

.player__button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 101px;
  height: 77px;
  transform: translate(-50%, -50%);

  &:hover,
  &:focus {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .player__button {
    width: 102px;
    height: 78px;
  }
}
