.promo__type {
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 1.18;
  text-transform: uppercase;
  color: $seafoam-blue;
}

.promo__text,
.promo__info {
  font-size: 1.5rem;
}

.promo__price {
  font-size: 1.8rem;
  font-weight: bold;
}

.promo__button {
  line-height: 1.11;
}
