.promo {
  @include container;
  @include grey-wavy;

  padding-top: 25px;
  padding-bottom: 22px;
}

.promo__container {
  padding-bottom: 20px;
}

.promo__type {
  margin: 5px 0 0;
  font-size: 17px;
  font-weight: $font-weight-bold;
  line-height: 1.18;
  text-transform: uppercase;
  color: $seafoam-blue;
}

.promo__content {
  padding-top: 23px;
}

.promo__text-wrapper {
  font-size: 15px;
}

.promo__text {
  margin: 0;
  line-height: 1.6;
}

.promo__info {
  width: 100%;
  margin-top: 16px;
  line-height: 1.33;
}

.promo__info-row {
  height: 39px;
  box-shadow: 0 1px 0 0 $white-three;
}

.promo__info-title {
  width: 90px;
}

.promo__image-wrapper {
  margin-top: 25px;
  line-height: 0;
  background-color: $white-three;
}

.promo__price {
  margin: 20px 0;
  font-size: 18px;
  font-weight: $font-weight-bold;
  text-align: center;
}

.promo__button {
  width: 100%;
  line-height: 1.11;
}

@media (min-width: $tablet-width) {
  .promo {
    padding-top: 45px;
    padding-bottom: 25px;
  }

  .promo__container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 42px;
  }

  .promo__type {
    align-self: center;
    width: 100px;
    margin: 0 0 0 auto;
    padding: 10px 20px 10px 0;
    line-height: 1;
    text-align: center;
  }

  .promo__content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 458px;
    padding-right: 44px;
    padding-top: 46px;
  }

  .promo__text {
    font-size: 17px;
    line-height: 1.76;
  }

  .promo__info {
    margin-top: 35px;
  }

  .promo__image-wrapper {
    position: absolute;
    top: 54px;
    left: 100%;
    width: 333px;
    height: 404px;
    margin-top: 0;
  }

  .promo__footer {
    width: 100%;
    margin-top: auto;
  }

  .promo__price {
    margin-bottom: 33px;
    font-size: 20px;
    line-height: 1.2;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    position: relative;
    padding-top: 72px;
    padding-bottom: 95px;
  }

  .promo__container {
    position: relative;
    width: 874px;
    min-height: 636px;
    margin-left: auto;
    padding-top: 52px;
    padding-bottom: 0;
  }

  .promo__type {
    position: absolute;
    top: 57px;
    left: -135px;
    word-break: break-word;
  }

  .promo__info {
    margin-top: 48px;
  }

  .promo__content {
    position: static;
    width: 40%;
    min-height: 526px;
    padding-top: 16px;
    padding-right: 58px;
  }

  .promo__image-wrapper {
    top: 0;
    left: auto;
    right: 0;
    width: 525px;
    height: 636px;
  }
}
