.reviews {
  @include container;
  @include grey-wavy;

  padding-top: 36px;
  padding-bottom: 22px;
}

.reviews__container {
  padding-bottom: 29px;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  margin: 24px 0 30px;
  font-size: 15px;
  line-height: 2;
}

.reviews__author-name {
  font-size: 17px;
  font-weight: $font-weight-bold;
  line-height: 1.41;
  font-style: normal;
  color: $title-color;
}

.reviews__author-email {
  font-weight: $font-weight-normal;
  line-height: 1.41;
  color: $text-color;
}

.reviews__button {
  width: 100%;
  margin-top: 38px;
}

@media (min-width: $tablet-width) {
  .reviews {
    padding-top: 80px;
    padding-bottom: 23px;
    background: url("../img/review@1x.jpg") no-repeat top left;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto;
    }
  }

  .reviews__container {
    position: relative;
    padding-bottom: 107px;
  }

  .reviews__content {
    padding-top: 23px;
  }

  .reviews__text {
    margin-bottom: 65px;
    font-size: 17px;
    line-height: 1.76;
  }

  .reviews__author-name {
    font-size: 18px;
    line-height: 1.33;
  }

  .reviews__author-email {
    display: block;
    font-size: 17px;
    line-height: 1.76;
  }

  .reviews__button {
    position: absolute;
    top: 0;
    right: 0;
    width: 175px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    position: relative;
    padding-top: 70px;
    padding-bottom: 188px;
    background-position-x: 49px;
  }

  .reviews__container {
    width: 876px;
    margin-left: auto;
    padding-bottom: 0;
  }

  .reviews__text {
    margin-bottom: 45px;
    padding-right: 105px;
  }

  .reviews__button {
    top: 10px;
  }
}
