.title {
  position: relative;
  margin: 0;
  font-size: 25px;
  font-weight: $font-weight-bold;
  line-height: 1.2;
  text-align: left;
  color: $title-color;
  z-index: 1;

  &--secondary {
    font-size: 18px;
    line-height: 1.67;
  }

  &--hidden {
    @include visually-hidden;
  }

  &--iconed {
    &::after {
      position: absolute;
      top: 50%;
      right: 0;
      width: 47px;
      height: 81px;
      margin-left: auto;
      background: url("../img/icon-flag.svg") no-repeat top center;
      transform: translateY(-50%);
    }
  }
}

@media (min-width: $tablet-width) {
  .title {
    width: 70%;
    font-size: 43px;
    line-height: 1.16;

    &--iconed {
      width: 100%;
      padding-right: 50px;

      &::after {
        content: "";
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .title {
    font-size: 53px;
    line-height: 1.08;

    &--iconed {
      &::after {
        right: auto;
        left: -111px;
      }
    }
  }
}
