.video {
  @include container;
  margin-bottom: 56px;
  padding-top: 5px;
}

.video__card {
  position: relative;
  border: 1px solid $white-three;
}

.video__title {
  position: relative;
  margin-top: 23px;
  margin-bottom: 26px;
  padding-left: 91px;
  padding-right: 30px;
  font-size: 17px;
  font-weight: $font-weight-bold;
  line-height: 1.41;
  color: $title-color;

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 30px;
    width: 35px;
    height: 35px;
    background: url("../img/icon-video.svg") no-repeat center;
  }
}

.video__content {
  height: 150px;
  background-color: $white-three;
}

.video__text {
  margin-top: 0;
  margin-bottom: 25px;
}

.video__description {
  padding: 34px;
  padding-top: 26px;
  border-top: 1px solid $white-three;

  &:hover,
  &:focus {
    box-shadow: $video-shadow-hover;
  }

  &:active {
    box-shadow: $video-shadow-active;
  }
}

.video__button {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .video {
    padding-top: 25px;
    margin-bottom: 60px;
  }

  .video__card {
    border-color: transparent;
  }

  .video__container {
    margin-top: 455px;
    padding-top: 16px;
    border: 1px solid $white-three;

    &:hover,
    &:focus {
      box-shadow: $video-shadow-hover;
    }

    &:active {
      box-shadow: $video-shadow-active;
    }
  }

  .video__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 455px;
  }

  .video__title {
    padding-left: 106px;
    font-size: 20px;
    line-height: 1.2;

    &::before {
      top: -8px;
      left: 40px;
    }
  }

  .video__description {
    padding: 5px 40px 46px;
    border-top: none;

    &:hover,
    &:focus,
    &:active {
      box-shadow: none;
    }
  }

  .video__text {
    margin-bottom: 35px;
    font-size: 15px;
    line-height: 2;
  }
}

@media (min-width: $desktop-width) {
  .video {
    padding-top: 5px;
    margin-bottom: 100px;
  }

  .video__container {
    display: flex;
    flex-flow: column wrap;
    min-height: 455px;
    margin-top: 0;
    margin-left: 682px;
    padding-top: 0;
  }

  .video__title {
    padding: 72px 20% 0 78px;
    margin-bottom: 33px;

    &::before {
      top: 16px;
      left: 76px;
    }
  }

  .video__content {
    width: 682px;
    height: 100%;
  }

  .video__description {
    padding: 0 56px 60px 80px;
  }

  .video__text {
    margin-bottom: 47px;
  }
}
